
/**
 * Card Styles
 */

.card {
	background-color: #fff;
	border-radius: 1rem;
	margin-bottom: 4rem;
	margin-top: 3rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

.card__padding {
	padding: 2rem;
}
 
.card__image {
	min-height: 100px;
	background-color: #eee;
}

.card__image img {
	width: 100%;
	max-width: 100%;
	display: block;
}

.card__content {
	position: relative;
	margin-left: 1rem;
}

/* card article */
.card__article a {
	text-decoration: none;
	color: #444;
	transition: all 0.5s ease;
}

.card__article a:hover {
	color: #4C456A;
}

.card__article h3 {
	margin-left: 1rem;
	transform: lowercase;
}

.icon_star {
	background-image: url( '../data/img/star.svg');
	opacity: 0.70;
	background-repeat: no-repeat;
	padding-right: 1rem;
	float: right;
}

.icon_star span {
	text-align: right;
	float: right;
}