<section id="about">
    <h2 class="section-title"> Hello &#128075;! </h2>

    <p class="lead mb-4">
        I completed my PhD in Robotics at Carnegie Mellon University in September 2026, where I was advised by
        <b><a href="https://www.cs.cmu.edu/~jeanoh/">Jean Oh</a></b>
        (<a href="https://cmubig.github.io">Bot Intelligence Group</a>) and
        <b><a href="https://jonfranc.com/">Jonathan Francis</a></b>
        (<a href="https://jonfranc.com/rll.html">Robot Learning Lab</a>).
    </p>

    <p class="lead mb-5">
        My research focuses on enabling autonomous navigation systems to seamlessly and
        safely interact with humans in shared spaces. During my PhD, I developed algorithms
        and methods to assess and enhance the robustness of motion prediction models and
        social navigation algorithms.
    </p>

    <p class="lead mb-5">
        Most of my work has focused on aviation and autonomous driving, but I have also
        explored other domains such as motion in human crowds and sports.
    </p>
</section>
