<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/profile.jpg" width="30%" alt="">
        
        <h2 class="mb-0"><span class="text-primary">Ingrid Navarro</span></h2>
      
        <p class="lead mb-5"> 
            I got a Masters in Robotics from Carnegie Mellon University (CMU) in 2022, and I'm 
            currently pursuing a PhD in Robotics also at CMU. I'm advised by 
            <a href="https://cmubig.github.io/team/jean_oh/">Jean Oh</a>, head of the 
            <a href="https://cmubig.github.io">Bot Intelligence Group (BIG)</a>. 
        </p>

        <p class="lead mb-5">
            My research interests involve enabling autonomous navigation systems to seamlessly and
            safely interact with humans in shared spaces. As such, I currently work on developing 
            algorithms and methods that assess and enhance the robustness of motion prediction models 
            and social navigation algorithms. My ongoing works are mostly focused on the domains of 
            aviation and autonomous driving, but I have also explored other domains such as motion in 
            human crowds and sports.
        </p>

        <div class="social-icons">
            <a href="https://www.linkedin.com/in/ingridnavarroan/"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/navarrs"><i class="fab fa-github"></i></a>
            <a href="#resume" onclick="window.open('assets/files/navars.pdf')"><p class="mb-0">CV</p></a>
        </div>
    </div>
</section>