<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/css/about.css" rel="stylesheet">

<div class="grid-wrapper w-100">

    <div class="profile center" style="grid-column: span 2; margin:auto;">
        <img class="img-fluid img-profile mx-auto rounded-circle left" 
             src="assets/img/profile.jpg" 
             width="30%" 
             alt="">
    </div>
    
    <div style="grid-column: span 3;">
        <br><br><br>
        <h3 class="lead mb-4"> Hello! </h3>

        <p class="lead mb-4"> 
            I'm a PhD student in Robotics at Carnegie Mellon University. I'm advised by 
            <a href="https://cmubig.github.io/team/jean_oh/">Jean Oh</a>, head of the 
            <a href="https://cmubig.github.io">Bot Intelligence Group (BIG)</a>. 
        </p>
        
        <p class="lead mb-5">
            My research interests involve enabling autonomous navigation systems to seamlessly and
            safely interact with humans in shared spaces. As such, I currently work on developing 
            algorithms and methods that assess and enhance the robustness of motion prediction models 
            and social navigation algorithms. My ongoing works are mostly focused on the domains of 
            aviation and autonomous driving, but I have also explored other domains such as motion in 
            human crowds and sports.
        </p>

        <p class="lead mb-5">
            Check out my work below!
        </p>

        <div class="social-icons">
            <a href="https://www.linkedin.com/in/ingridnavarroan/"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/navarrs"><i class="fab fa-github"></i></a>
            <a href="#resume" onclick="window.open('assets/files/navars.pdf')"><p class="mb-0">cv</p></a>
        </div>
    </div>
</div>
<br><br><br>