<section id="updates">
    <h2 class="section-title"> Updates! </h2>
    <ul>
        <li><b>[Sep 2026]</b> Completed my PhD in Robotics at <a href="https://www.ri.cmu.edu/">Carnegie Mellon University</a>.
        </li>
        <li><b>[May 2026]</b> Robotics Research Intern at <a href="https://lavoro.bot/">Lavoro AI</a>.
        </li>
        <li><b>[May 2025]</b> ML Research Intern at <a href="https://stackav.com/">Stack AV</a>.
        </li>
        <li><b>[Oct 2024]</b> Invited speaker at the <a href="https://iaas-workshop.github.io">
            Workshop on Interaction-aware Autonomous Systems
        </a> at <a href="https://iros2024-abudhabi.org">IEEE IROS 2024</a>.
        </li>
        <li><b>[Oct 2024]</b> Presented our work <a href="https://navars.xyz/sorts/"><i>SoRTS</i></a>
            at <a href="https://iros2024-abudhabi.org">IEEE IROS 2024</a>.
        </li>
        <li><b>[July 2024]</b> Presented our work <a href="https://ameliacmu.github.io"><i>Amelia</i></a>
        at the <a href="https://www.aiaa.org/aviation/call-for-content">Aviation and ASCEND Forum 2024</a>, which won the <b>Best Student Paper Award</b> in Air Transportation.
        </li>
        <li><b>[June 2024]</b> Presented our work <a href="https://navars.xyz/safeshift/"><i>SafeShift</i></a>
        at <a href="https://ieee-iv.org/2024/">IEEE IV 2024</a>.
        </li>
    </ul>
</section>
