@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Verdana');
@import url('https://fonts.googleapis.com/css?family=Schreeflooze');
@import url('https://fonts.googleapis.com/css?family=Roboto Mono');
@import url('https://fonts.googleapis.com/css?family=Pathway Extreme');

// $family-sans-serif: 'Montserrat', sans-serif;

// $family-sans-serif: 'Verdana', sans-serif;

// $family-sans-serif: 'Schreeflooze', sans-serif;

// $family-sans-serif: 'Roboto Mono', sans-serif;

$family-sans-serif: 'Pathway Extreme', sans-serif;

// $primary: #1034A6 !default;

// $primary: #191970 !default;

$primary: #055DBE !default;

// $primary: #007AFF !default;

// $primary: #5856D6 !default;

$tabs-link-active-color: $primary;

$tabs-link-active-border-bottom-color: $primary;

@import "../node_modules/bulma/bulma.sass";
@import "layout";
@import "syntax";
@import "showcase";
@import "block-list"