.grid-wrapper{
	display:grid;
	grid-gap:10px;
	justify-content:center;
	grid-template-columns:repeat(auto-fit, minmax(200px, 1fr))
}

.profile img{
	box-shadow:0 0 5px #828282;width:90%
}

.social-icons a {
	display:inline-block;
	height:3.5rem;
	width:3.5rem;
	background-color:#2A1448;
	color: #fff!important; 
	border-radius:100%; 
	text-align:center;
	font-size:1.5rem; 
	line-height:3.5rem;
	margin-right:1rem
}

.social-icons a:last-child {
	margin-right:0
}

.social-icons a:hover {
	background-color:#ab8bd8

}

.text-primary{
	color:#139950 !important
}

.abstract{
	color:#139950 !important
}
.abstract:hover {
	color:#ab8bd8 !important
}

p.lead{
	font-size: 1.2rem;
	font-weight:300
}

a{
	color:#2A1448
}

a:active,a:focus,a:hover{
	color:#139950
}